.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label,
.cart-input label .invalid label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.cart-input input,
.invalid input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}